<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}

    <p>{{text}}</p>
    <img src="/img/me.jpeg" class="portrait">

    {{>footer}}
</body>

</html>